.footer-nav-up-container {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #d9a95bda;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    transition: transform 0.2s ease;
    z-index: 1500;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3); 
    
    &:hover {
        transform: translateX(-50%) translateY(-5px);
    }
    
    &:active {
        transform: translateX(-50%) translateY(0);
    }
}

.footer-nav-up-icon {
    width: 30px; 
    height: 30px;
    object-fit: contain;
}
