.footer-nav-up-container {
    position: relative; /* Changé de absolute à relative */
    margin-bottom: -20px; /* Utilise une marge négative au lieu de bottom */
    margin-top: auto; /* Pousse le bouton vers le bas du footer */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #d9a95bda;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    transition: transform 0.2s ease;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3); /* Ombre ajustée pour l'effet de dépassement */
    
    &:hover {
        transform: translateX(-50%) translateY(-5px);
    }
    
    &:active {
        transform: translateX(-50%) translateY(0);
    }
}

.footer-nav-up-icon {
    width: 30px; /* Réduit pour mieux s'adapter au conteneur */
    height: 30px;
    object-fit: contain;
}
