.recipe-prez {
    width: 98%;
    height: auto;
    box-sizing: border-box;
    text-align: left; 
    position: relative; 
    font-family : inter ,sans-serif;
    left: 20px;
    font-size : 1.5rem;
}