header {
    position: relative;
    display: flex; 
    flex-wrap: wrap;
    align-items: center; 
    width: 100%;
}


.nom-site {
    font-size: 3rem;
    font-family: Montserrat Subrayada;
    color: #6B3E26;
}

hr {
    height: 1.4px;
    background-color: #6B3E26; 
    border: none; 
}

app-searchbar, .searchbar-container {
    flex: 1;
    width: 100%;
    max-width: calc(100% - 20px);
    margin-left: auto;
    margin-right: 20px;
}