<div class="ingredients-organizer">
    <div class="recipe-ingredients-container">
        <span class="ingredient">salade</span>
        <hr class="split-ingredient">
        <span class="ingredient">tomate</span>
        <hr class="split-ingredient">
        <span class="ingredient">oignons</span>
        <hr class="split-ingredient">
        <span class="ingredient">crêpe</span>
        <hr class="split-ingredient">
        <span class="ingredient">blancs de poulet</span>
        <hr class="split-ingredient">
        <span class="ingredient">crème</span>
        <hr class="split-ingredient">
        <span class="ingredient">weed </span>
        <hr class="split-ingredient">
        <span class="ingredient">herbe</span>
    </div>
    <div class="recipe-ingredients-units-container">
        <span class="ingredient">| 1</span>
        <hr>
        <span class="ingredient">| 2</span>
        <hr>
        <span class="ingredient">| 1</span>
        <hr>
        <span class="ingredient">| 1</span>
        <hr>
        <span class="ingredient">| 1</span>
        <hr>
        <span class="ingredient">| 150g</span>
        <hr>
        <span class="ingredient">| 3kg </span>
        <hr>
        <span class="ingredient">| 5kg</span>
    </div>
</div>