<h1 class="recipe-ingredients">Ingredients :</h1>
<div class="recipe-ingredients-container">
    <span class ="ingredient">jsp</span>
    <span class="split-ingredients">/</span>
    <span class ="ingredient">quoi</span>
    <span class="split-ingredients">/</span>
    <span class ="ingredient">mettre</span>
    <span class="split-ingredients">/</span>
    <span class ="ingredient">dans</span>
    <span class="split-ingredients">/</span>
    <span class ="ingredient">ces</span>
    <span class="split-ingredients">/</span>
    <span class ="ingredient">cons</span>
    <span class="split-ingredients">/</span>
    <span class ="ingredient">de </span>
    <span class="split-ingredients">/</span>
    <span class ="ingredient">span</span>
</div>
