.recipe-content-container {
    width: 94vw;
    min-height: 100vh; 
    margin-top: 150px;
    margin-bottom: 40px;
    margin-left : 3vw;
    border-radius: 10px;
    background-color: #D9A85B;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow: visible;
    box-sizing: border-box; 
}

.recipe-title {
    font-family: 'inter', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #6B3E26;
    margin-top: 30px;
    margin-bottom: 0px;
}

hr {
    border: none;
    background-color: #6B3E26;
    height: 1.3px;
    width: 80%;
}