.recettes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap : 3vw;
}

h2 {
    font-size: 2.5rem;
}

hr {
    height: 1.4px;
    width: 100%;
    background-color: #6B3E26; 
    border: none;
    margin-bottom: 20px;
}