.nav-menu-container {
    padding: 15px 5px 20px 5px;
    border-radius: 10px;
    background-color: #EFE2C5;
    width: 20px; 
    height: auto;
    margin-bottom: 15px;
    transition: all 0.5s cubic-bezier(0.1, 0.7, 0.1, 1);
    transform-origin: left center;
    overflow: hidden;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-menu-wrapper {
    position: relative;
    width: 10px; 
    height: 195px;
    transition: all 0.5s cubic-bezier(0.1, 0.7, 0.1, 1);
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 100%; 
        width: 50px; 
        height: 100%;
        z-index: 5;
    }
}

.nav-menu-wrapper:hover .nav-menu-container,
.nav-menu-wrapper.active .nav-menu-container {
    width: 250px;
    align-items: center;
}

a {
    font-family: 'Lily Script One', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #6B3E26;
    text-decoration: none;
    display: block; 
    width: 232px; 
    text-align: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 0; 
    flex-shrink: 0; 
    transition: all 0.5s cubic-bezier(0.1, 0.7, 0.1, 1);
    transform-origin: left center;
    margin-left: 0;
}

.nav-menu-wrapper:hover a,
.nav-menu-wrapper.active a {
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: none;
    background-color: #6B3E26;
    height: 1.5px;
    width: 80%;
    margin-top: 7px;
    margin-bottom: 10px;
    transition: all 0.5s cubic-bezier(0.1, 0.7, 0.1, 1);
    transform-origin: left center;
    margin-left: 15px;
}

.nav-menu-wrapper:hover hr,
.nav-menu-wrapper.active hr {
    margin-left: auto;
    margin-right: auto;
}