<div class="nav-menu-wrapper" 
    [class.active]="isOpen"
    (mouseenter)="onMouseEnter()" 
    (mouseleave)="onMouseLeave()">
    <div class="nav-menu-container">
        <div class="nav-menu">
            <a (click)="navigateToRecipesOfDay()" class="nav-link">Recettes du jour</a>
            <hr>
            <a (click)="navigateToTopRecipes()" class="nav-link">Top recettes</a>
            <hr>
            <a (click)="navigateToTrending()" class="nav-link">À la une</a>
        </div>
        <div class="split-menu"></div>
        <div class="main-page-nav">
            <a (click)="navigateToHome()" class="home-link">Accueil</a>
        </div>
    </div>
</div>
