<section class="create-recipe-page">
    <h1 class="create-recipe-title">Créer une nouvelle recette</h1>
    <hr class="create-recipe-separator">

    <div class="form-section">
        <app-recipe-form-head></app-recipe-form-head>
    </div>
    <div class="form-section">
        <app-recipe-ingredients-form></app-recipe-ingredients-form>
    </div>
    <div class="form-section">
        <app-recipe-steps-form></app-recipe-steps-form>
    </div>
    <div class="form-section">
        <app-recipe-timing-form></app-recipe-timing-form>
    </div>
    <div class="form-section">
        <app-recipe-description-form></app-recipe-description-form>
    </div>
    <!-- <div class="form-section">
        <app-recipe-preview></app-recipe-preview>
    </div> -->
</section>