<article class="recipe-card" [routerLink]="['/recipe', recipe.idRecipe]">
  <div class="card-image">
    <img 
      [src]="getRecipeImage()" 
      [alt]="recipe.nameRecipe"
      (error)="$any($event.target).src='assets/images/default-recipe.png'">
    <div class="rating-overlay">
      <app-recipe-rating-stars [rating]="recipe.averageRating"></app-recipe-rating-stars>
    </div>
  </div>
  
  <div class="card-content">
    <h3 class="recipe-title">{{ recipe.nameRecipe }}</h3>
    <p class="recipe-description">{{ recipe.descriptionRecipe }}</p>
    
    <div class="recipe-meta">
      <div class="meta-item">
        <span class="meta-icon">🕐</span>
        <span class="meta-label">Préparation</span>
        <span class="meta-value">{{ recipe.preparationTimeRecipe }} min</span>
      </div>
      <div class="meta-item">
        <span class="meta-icon">🔥</span>
        <span class="meta-label">Cuisson</span>
        <span class="meta-value">{{ recipe.cookingTimeRecipe }} min</span>
      </div>
      <div class="meta-item">
        <span class="meta-icon">👥</span>
        <span class="meta-label">Portions</span>
        <span class="meta-value">{{ recipe.portionsRecipe }} pers.</span>
      </div>
    </div>
    
    <div class="recipe-author">
      <span class="author-label">Par</span>
      <span class="author-name">{{ recipe.userName }}</span>
    </div>
  </div>
</article>
