.filters-menu-container {
    padding: 5px 10px 25px;
    border-radius: 10px;
    background-color: #EFE2C5;
    width: 1vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    transition: all 0.5s cubic-bezier(0.1, 0.7, 0.5, 1);
    transform-origin: left center;
    overflow: hidden;
    position: absolute;
    z-index: 10;
}

.filters-menu-wrapper {
    position: relative;
    width: 1vw; 
    height: 60vh;
    margin-bottom: 30px;
    transition: all 0.5s cubic-bezier(0.1, 0.7, 0.5, 1);
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 100%; 
        width: 50px; 
        height: 100%;
        z-index: 5;
    }
}



.filters-menu-wrapper:hover .filters-menu-container,
.filters-menu-wrapper.active .filters-menu-container {
    width: 540px;
    max-width: 95vw; 
}

.filters-content {
    display: flex;
    width: 500px; 
}

.main-filters {
    width: 240px;
    flex-shrink: 0;
    padding-left: 30px;
}

.additional-filters {
    width: 240px;
    padding-left: 40px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.1, 0.7, 0.5, 1);
    transition-delay: 0.1s;
    flex-shrink: 0; 
}

.filters-menu-wrapper:hover .additional-filters,
.filters-menu-wrapper.active .additional-filters {
    opacity: 1;
}

.filters-menu-wrapper.active {
    // Styles qui s'appliquent quand le menu est actif (même chose que hover)
    .additional-filters {
        opacity: 1;
    }
}

.filter-item {
    margin-bottom: 10px;
}

.filter-checkbox {
    margin-right: 10px;
}

.filter-category {
    font-weight: bold;
    color: #6B3E26;
    margin-bottom: 8px;
    margin-top: 10px;
    font-size: 1.1rem; 
}

.filter-option {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    color: #6B3E26;
    font-size: 1rem; 
}

.split {
    position: absolute;
    left: 250px;
    pointer-events: none; 
    width: 1.5px; 
    top: 2vh;
    height: 62vh; 
    border-radius: 5px;
    background-color: #6B3E26; 
    opacity: 0.5;
    transition: all 0.5s cubic-bezier(0.1, 0.7, 0.5, 1);
}
