<div class="filters-menu-wrapper" 
     [class.active]="isOpen"
     (mouseenter)="onMouseEnter()" 
     (mouseleave)="onMouseLeave()">
    <!-- Hitbox étendue invisible -->
    <div class="filters-menu-container">
        <div class="filters-content">
        <!-- Filtres principaux (toujours visibles) -->
            <div class="main-filters">
                <div class="filter-category">Types de plats</div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-type-1" class="filter-checkbox">
                    <label for="filter-type-1">Apéro</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-type-2" class="filter-checkbox">
                    <label for="filter-type-2">Entrées</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-type-3" class="filter-checkbox">
                    <label for="filter-type-3">Plats</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-type-4" class="filter-checkbox">
                    <label for="filter-type-4">Desserts</label>
                </div>
                
                <div class="filter-category">Mangeurs Pointilleux</div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-diet-1" class="filter-checkbox">
                    <label for="filter-diet-1">Végétarien</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-diet-2" class="filter-checkbox">
                    <label for="filter-diet-2">Végan</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-diet-3" class="filter-checkbox">
                    <label for="filter-diet-3">Sans gluten</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-diet-3" class="filter-checkbox">
                    <label for="filter-diet-4">Viandard</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-diet-3" class="filter-checkbox">
                    <label for="filter-diet-5">Healthy</label>
                </div>

                <div class="filter-category">À travers le Monde</div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-country-1" class="filter-checkbox">
                    <label for="filter-type-1">Italienne</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-country-2" class="filter-checkbox">
                    <label for="filter-type-2">Japonaises</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-country-3" class="filter-checkbox">
                    <label for="filter-type-3">Indiennes</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-country-4" class="filter-checkbox">
                    <label for="filter-type-4">Coréennes</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-country-5" class="filter-checkbox">
                    <label for="filter-type-5">Espagnoles</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-country-6" class="filter-checkbox">
                    <label for="filter-type-6">Espagnoles</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-country-7" class="filter-checkbox">
                    <label for="filter-type-7">Françaises</label>
                </div>

                <div class="filter-category">Idées par thématiques</div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-country-1" class="filter-checkbox">
                    <label for="filter-theme-1">Top recette</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-country-2" class="filter-checkbox">
                    <label for="filter-theme-2">Nouvelles recettes</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-country-3" class="filter-checkbox">
                    <label for="filter-theme-3">Simplicité express</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-country-4" class="filter-checkbox">
                    <label for="filter-theme-4">Rien de se perd</label>
                </div>
            </div>

            <div class="split"></div>

            <!-- Filtres supplémentaires (affichés au survol) -->
            <div class="additional-filters">
                <div class="filter-category">Budget</div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-budget-1" class="filter-checkbox">
                    <label for="filter-budget-1">Économique</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-budget-2" class="filter-checkbox">
                    <label for="filter-budget-2">Moyen</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-budget-3" class="filter-checkbox">
                    <label for="filter-budget-3">Élevé</label>
                </div>

                <div class="filter-category">Temps de préparation</div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-time-1" class="filter-checkbox">
                    <label for="filter-time-1">Rapide ( 15 min)</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-time-2" class="filter-checkbox">
                    <label for="filter-time-2">Moyen (15-30 min)</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-time-3" class="filter-checkbox">
                    <label for="filter-time-3">Long (> 30 min)</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-time-4" class="filter-checkbox">
                    <label for="filter-time-4">Vous avez le temps (> 1 h)</label>
                </div>
                <div class="filter-category">Recettes festives</div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-party-1" class="filter-checkbox">
                    <label for="filter-type-1">Noël</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-party-2" class="filter-checkbox">
                    <label for="filter-type-2">Halloween</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-party-3" class="filter-checkbox">
                    <label for="filter-type-3">Pâques</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-party-4" class="filter-checkbox">
                    <label for="filter-type-4">Saint-Valentin</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-party-5" class="filter-checkbox">
                    <label for="filter-type-5">Chandeleur</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-party-6" class="filter-checkbox">
                    <label for="filter-type-6">Ramadan</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="filter-party-7" class="filter-checkbox">
                    <label for="filter-type-7">Mardi Gras</label>
                </div>
            </div>
        </div>
    </div>
</div>