<div class="jour-container">
    <div class="jour-header">
        <h3>Mardi</h3>
    </div>
    
    <div class="repas-liste">
        <div class="repas-item">
            <span class="repas-type">Petit-déjeuner :</span>
            <span class="repas-nom">Kebab léger</span>
        </div>
        
        <div class="repas-item">
            <span class="repas-type">Déjeuner :</span>
            <span class="repas-nom">Kebab végétarien</span>
        </div>
        
        <div class="repas-item">
            <span class="repas-type">Dîner :</span>
            <span class="repas-nom">Kebab royal</span>
        </div>
    </div>
</div>
