<div class="container" routerLink="/recipe/5">
    <img class="recette-image" src="assets/images/recipe-5.png" alt="Recette 5">
    <div class="info-overlay">
        <h3>{{recipe?.nameRecipe || 'Chargement...'}}</h3>
        <p>⭐ {{recipe?.averageRating || 0}}/5</p>
        <p>🕐 Préparation: {{recipe?.preparationTimeRecipe || 0}} min</p>
        <p>🔥 Cuisson: {{recipe?.cookingTimeRecipe || 0}} min</p>
        <p>{{recipe?.descriptionRecipe || 'Description en cours de chargement...'}}</p>
    </div>
</div>
