<div class="jour-container">
    <div class="jour-header">
        <h3>Samedi</h3>
    </div>
    
    <div class="repas-liste">
        <div class="repas-item">
            <span class="repas-type">Petit-déjeuner :</span>
            <span class="repas-nom">Kebab weekend</span>
        </div>
        
        <div class="repas-item">
            <span class="repas-type">Déjeuner :</span>
            <span class="repas-nom">Kebab familial</span>
        </div>
        
        <div class="repas-item">
            <span class="repas-type">Dîner :</span>
            <span class="repas-nom">Kebab plaisir</span>
        </div>
    </div>
</div>
