.recipe-info-container {
    margin: 30px auto; 
    border-radius: 7px;
    min-height: 100px;
    width: 95%; 
    max-width: 1300px; 
    background-color: #EFD8A5;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #6B3E26;
}
