.recipe-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

img {
    margin-top: 30px;
    border-radius: 10px;
    height : 65vh;
    width : 65vw;
}