.recipe-steps-container {
  padding: 20px;
  font-family: inter, sans-serif;
  max-width: 70vw;
  margin: 0 auto;
}

.steps-title {
  font-size: 1.8rem;
  color: #6B3E26;
  margin-bottom: 20px;
  text-align: center;
}

p {
  display: flex;
  background-color: #EFE2C5;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  padding: 15px;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 0;
  color: #553c2e;
  &:hover {
    transform: translateY(-3px);
  }
}
