<div class="recipe-steps-container">
    <h2 class="steps-title">Étapes de préparation</h2>
    <div class="steps-list">
        <!-- Étape 1 -->
        <div class="step-card">
        <div class="step-number">1</div>
            <div class="step-content">
                <p class="step-description">Préchauffer une poelle au feu moyen.</p>
            </div>
        </div>
        
        <!-- Étape 2 -->
        <div class="step-card">
        <div class="step-number">2</div>
            <div class="step-content">
                <p class="step-description">Couper les tomates, oignons  et la salade en petits morçeaux.</p>
            </div>
        </div>
        
        <!-- Étape 3 -->
        <div class="step-card">
        <div class="step-number">3</div>
            <div class="step-content">
                <p class="step-description">Mélangé la crème, la weed et l'herbe dans un bol jusqu'a ce que ce soit homogène.</p>
            </div>
        </div>
        
        <!-- Étape 4 -->
        <div class="step-card">
        <div class="step-number">4</div>
            <div class="step-content">
                <p class="step-description">Couper votre poulet en morçeaux moyens.</p>
            </div>
        </div>
        
        <!-- Étape 5 -->
        <div class="step-card">
        <div class="step-number">5</div>
            <div class="step-content">
                <p class="step-description">Mettez les dans la poelle avec sel et poivre a cuir pendant une trentaine de minutes.</p>
            </div>
        </div>

        <!-- Étape 6 -->
        <div class="step-card">
        <div class="step-number">6</div>
            <div class="step-content">
                <p class="step-description">Dans votre crêpe mettez la quantité que voulez des préparations et plié la comme vous voulez.</p>
            </div>
        </div>

        <!-- Étape 7 -->
        <div class="step-card">
        <div class="step-number">7</div>
            <div class="step-content">
                <p class="step-description">Et maintenant dégusté votre chef d'oeuvre.</p>
            </div>
        </div>
    </div>
</div>
