<div class="rating-stars">
  <div class="stars">
    <ng-container *ngFor="let star of stars">
      <span class="star" [ngClass]="{'half': star.half, 'empty': !star.filled && !star.half}">
        <ng-container *ngIf="star.filled">★</ng-container>
        <ng-container *ngIf="!star.filled && star.half">★</ng-container>
        <ng-container *ngIf="!star.filled && !star.half">☆</ng-container>
      </span>
    </ng-container>
  </div>
  <span *ngIf="showRatingText" class="rating-text">{{ ratingText }}</span>
</div>
