.rating-stars {
  display: flex;
  align-items: center;
  
  .stars {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  
  .star {
    font-size: 1.25rem;
    color: #FFD700; // Jaune pour les étoiles pleines
    filter: drop-shadow(0 1px 1px #bfa60033);
    margin-right: 1px;
    
    &.half {
      color: #ffd900cb;
      opacity: 0.6;
    }
    
    &.empty {
      color: #e0cfa7;
    }
  }
  
  .rating-text {
    font-size: 1rem;
    margin-left: 6px;
    color: #6B3E26;
    font-weight: 500;
  }
}
