<div class="account-container"
    (mouseenter)="onMouseEnter()" 
    (mouseleave)="onMouseLeave()">

    <div *ngIf="!isAuthenticated" class="background" routerLink="/login">
        <img class="account-icon" src="assets/images/icone-compte.png" alt="Account">
    </div>

    <div *ngIf="isAuthenticated" class="background authenticated" (click)="navigateToDashboard($event)">
        <img class="account-icon" src="assets/images/icone-compte.png" alt="Account">
        <div class="dropdown-menu" 
            [class.show]="isDropdownOpen" 
            (click)="onDropdownClick()">
            <div class="dropdown-item logout" (click)="logout()">Déconnexion</div>
            <!-- <div class="dropdown-item" (click)="navigateToCreateRecipe($event)">Créer une recette</div> -->
        </div>
    </div>
</div>
