<div class="recipe-steps-container">
    <h2 class="steps-title">Étapes de préparation</h2>
    <div class="steps-list">
        <!-- Pour l'instant, on garde vos étapes par défaut car il n'y a pas de champ 'steps' dans la BDD -->
        <p>Préchauffer une poelle au feu moyen.

        Couper les tomates, oignons  et la salade en petits morçeaux.

        Mélangé la crème, la weed et l'herbe dans un bol jusqu'a ce que ce soit homogène.

        Couper votre poulet en morçeaux moyens.

        Mettez les dans la poelle avec sel et poivre a cuir pendant une trentaine de minutes.

        Dans votre crêpe mettez la quantité que voulez des préparations et plié la comme vous voulez.
        
        Et maintenant dégusté votre chef d'oeuvre.</p>
    </div>
</div>
