.settings-container {
    width: 65px; 
    height: 65px; 
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 7px;
    border-color: #D9A85B;
    background-color: rgba(241, 210, 159, 0.5);
    transition: background-color 0.2s ease-in-out;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

.settings-container:hover {
    background-color: rgba(241, 210, 159, 0.7);
    cursor: pointer;
}

.settings-bar {
    margin-top: 12.5px;
    margin-left: 5px;
    position: relative;
    background-color: #6b3e26b9; 
    height: 4px; 
    width: 50px;
    border-radius: 2px;  
}
