<div class="jour-container">
    <div class="jour-header">
        <h3>Lundi</h3>
    </div>
    
    <div class="repas-liste">
        <div class="repas-item">
            <span class="repas-type">Petit-déjeuner :</span>
            <span class="repas-nom">Kebab du matin</span>
        </div>
        
        <div class="repas-item">
            <span class="repas-type">Déjeuner :</span>
            <span class="repas-nom">Kebab classique</span>
        </div>
        
        <div class="repas-item">
            <span class="repas-type">Dîner :</span>
            <span class="repas-nom">Kebab épicé</span>
        </div>
    </div>
</div>
