.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s ease-in-out;
  margin-right: 20px;
}

.input {
  color : #6B3E26;
  width: 100%;
  height: 100%;
  font-size: inherit;
  padding-left: 85px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 7px;
  border-color: #D9A85B;
  background-color: rgba(241, 210, 159, 0.5);
  transition: background-color 0.2s ease-in-out;

  &:focus {
    background-color: rgba(241, 210, 159, 0.8);
    border-radius: 10px;
    outline: none; 
  }
}

.input-container:hover {
  border-radius: 10px;
  background-color: rgba(241, 210, 159, 0.6);
  cursor: text;
}